.input {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;

  }

  .input label {
      margin-bottom: 0.5rem;
      display: flex;
      font-weight: bold;
  }
  .input input {
      font-family: inherit;
      display: flex;
      width: 100%;
      padding: 0.15rem;
      margin-bottom: 0.5rem;
      border: 1px solid #ccc;
  }

  .input input:focus {
      outline: red;
      border-color: #4f005f;
  }