.users {
    background: white;
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    list-style: none;

}
.users ul {
    list-style: none;
}

.users li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
    
}